.chip{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.success{
    color: #50B83C;
}
.infor{
    color: #5bc0de;
}
.warning{
    color: orange;
}
.error{
    color: #DE3618;;
}
.chip::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0.1;
    border-radius: 50px;
}