.form-wrapper{
    margin: 0 auto;
}

form .form-container{
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    
}

form .message{
    font-size: 12px;
    margin-top: 8px;
    color: red;
}

form .label{
    margin-bottom: 8px;
}