.icon-wrapper{
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.icon-wrapper.success{

}
.icon-wrapper::before{
    border-radius: 50%;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0.1;
}
.icon-wrapper:hover:before{
    opacity: 0.2;
}
.icon{
    width: 24px;
    height: 24px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: currentColor;    
    cursor: pointer;
}

.icon a{
    text-decoration: none;
    color: currentColor;
}

.icon--large{
    width: 32px;
    height: 32px;
    font-size: 28px;
}

.icon--small{
    width: 16px;
    height: 16px;
    font-size: 14px;
}