.header{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 1;
}

.header .logo{
    display: flex;
    align-items: center;
}


.header .user-infor{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.header .avata{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
}
.header .avata img{
    width: 36px;
    height: 36px;
}