.page-scoreClass .table-wrapper{
    max-height: calc(100vh - 250px);
}

.page-scoreClass .table-footer{
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    display: flex;
    column-gap: 24px;
}
