.user-update-page{
    padding: 48px;
    border-radius: 24px;
    background-color: white;
    
    max-width: calc(100vw - 250px);
    overflow: auto;
}
.user-update-page input{
    height: 56px;
}
.user-update-page .label{
    font-size: 16px;
}